<div class="container text-center">
  <h1 class="display-4 pt-5 pb-5">About</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3" style="font-size: 18px;">
      <p>William Shakespeare is referred to as a Literary Genius and much of this praise is due to the wonderful words
        of his short sonnet poems and his extended poems as detailed on this page. He is the most widely read author in
        the whole of the Western World - his poems and quotes from poems are familiar to everyone. And yet when we think
        about Shakespear we immediately we think of his famous plays and not his less famous poems. During the Bard's
        lifetime dramatists were not considered 'serious' authors with 'serious' talent - but it was highly fashionable
        to write poems. Plays were for entertainment poems were for the elite! There was not even such a thing as a
        custom built theatre until 1576! Actors were common folk. Poets of the era such as Christopher Marlowe, Sir
        Philip Sydney, Sir Walter Raleigh were of the nobility and there poems are still enjoyed today. These poets had
        credibility and so did their poetry. William Shakespeare came from Yeoman stock - he lacked credibility - his
        poems would have helped with this poblem !. The Bard did not give permission for one of his plays or his sonnets
        to be published.</p>
    </div>
  </div>
</div>
